*.mp4 filter=lfs diff=lfs merge=lfs -text
/Users/admin/Desktop/Bootcamp/portfolio-react2/website/src/assets/videos/WebsiteReel.mp4 filter=lfs diff=lfs merge=lfs -text
*mp4 filter=lfs diff=lfs merge=lfs -text
